In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

print('Libraries imported.')

Libraries imported.

In [3]:
df_toronto = pd.read_csv('toronto.csv', sep= ";")
df_toronto.head(7)
#df_toronto

,Postal Code,Borough,Neighborhood
0,M1S,Scarborough,Agincourt
1,M8W,Etobicoke,"Alderwood, Long Branch"
2,M3H,North York,"Bathurst Manor, Wilson Heights, Downsview North"
3,M2K,North York,Bayview Village
4,M5M,North York,"Bedford Park, Lawrence Manor East"
5,M5E,Downtown Toronto,Berczy Park
6,M1N,Scarborough,"Birch Cliff, Cliffside West"

In [4]:
df_toronto.shape #Shape of the dataframe

(180, 3)

In [5]:
# cleaning the  dataframe 
df_toronto = df_toronto[df_toronto.Borough!='Not assigned'] #excluding  the not assigned values

df_toronto =df_toronto[df_toronto.Borough!= 0] ##excludin  the values not 0
df_toronto.reset_index(drop = True, inplace = True) ## reseting the indexes
i = 0
for i in range(0,df_toronto.shape[0]):
    if df_toronto.iloc[i][2] == 'Not assigned':
        df_toronto.iloc[i][2] = df_toronto.iloc[i][1]
        i = i+1
df_toronto

    Postal Code      Borough                                     Neighborhood
0           M1S  Scarborough                                        Agincourt
1           M8W    Etobicoke                           Alderwood, Long Branch
2           M3H   North York  Bathurst Manor, Wilson Heights, Downsview North
3           M2K   North York                                  Bayview Village
4           M5M   North York                Bedford Park, Lawrence Manor East
..          ...          ...                                              ...
98          M2R   North York                      Willowdale, Willowdale West
99          M1G  Scarborough                                           Woburn
100         M4C    East York                                 Woodbine Heights
101         M2P   North York                                  York Mills West
102         M2L   North York                         York Mills, Silver Hills

[103 rows x 3 columns]

In [6]:
df_toronto.shape #Shape of the dataframe

(103, 3)